/*body {
  background-color: rgb(243, 243, 243);
}*/
h1 {
  color: black;
  display: block;
  font-family: monospace;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #ec6e4c;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 100px auto;
}
.weather-app {
  padding: 20px;
  /*background: white;*/
  border-radius: 5px;
  border: 1px solid #dad5d5;
  /*box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5),
    0 15px 40px rgba(166, 173, 201, 0.2);*/
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.wind {
  text-transform: lowercase;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  font-weight: bolder;
}
.input-search-button {
  background-color: white;
  color: #ec6e4c;
  border: 2px solid #ec6e4c;
  border-radius: 5px;
  padding: 4px 20px;
  font-weight: 300;
}
.input-search-button:hover {
  transition: all 200ms ease-in-out;
  background-color: #ec6e4c;
  color: white;
  font-weight: 600;
}
.input-search-box {
  font-family: Poppins, sans-serif;
  font-size: 12px;
}
